<app-common></app-common>
<section class="blog section-padding bg-gray" data-scroll-index="5">
	<div class="container">
		<div class="row">

			<!-- section heading -->
			<div class="section-head">
				<h3>Our Blog.</h3>
			</div>

				<!-- pitems -->
				<div class="col-md-4">
					<div class="pitem">
						<div class="post-img">
							<img src="assets/img/blog/blog-1.jpg" alt="">
						</div>
						<div class="content">
							<h6 class="tag">
								William <b>20-09-2018</b>
							</h6>
							<h4>
								Hello Guys Its true He is a Good Developer....
							</h4>
							<span class="more">
								<a href="#0">Read More</a>
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="pitem">
						<div class="post-img">
							<img src="assets/img/blog/blog-2.jpg" alt="">
						</div>
						<div class="content">
							<h6 class="tag">
								Emily <b>15-09-2018</b>
							</h6>
							<h4>
								He is  Amazing and Creative PhotoGrapher ....
							</h4>
							<span class="more">
								<a href="#0">Read More</a>
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="pitem">
						<div class="post-img">
							<img src="assets/img/blog/blog-3.jpg" alt="">
						</div>
						<div class="content">
							<h6 class="tag">
								Cristopher <b>17-09-2018</b>
							</h6>
							<h4>
								Design Responsive And Creative Websites And....
							</h4>
							<span class="more">
								<a href="#0">Read More</a>
							</span>
						</div>
					</div>
				</div>
				

				
			</div><!-- /row -->
			<div class="row">
				<div class="col-md-4">
					<div class="pitem">
						<div class="post-img">
							<img src="assets/img/blog/blog-4.jpg" alt="">
						</div>
						<div class="content">
							<h6 class="tag">
								Amanda <b>20-09-2018</b>
							</h6>
							<h4>
								Amazing He is a Good Graphics Designer....
							</h4>
							<span class="more">
								<a href="#0">Read More</a>
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="pitem">
						<div class="post-img">
							<img src="assets/img/blog/blog-5.jpg" alt="">
						</div>
						<div class="content">
							<h6 class="tag">
								James <b>18-09-2018</b>
							</h6>
							<h4>
								Good Work Mr. Sandeep You Are Amazing and Creative....
							</h4>
							<span class="more">
								<a href="#0">Read More</a>
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="pitem">
						<div class="post-img">
							<img src="assets/img/blog/blog-6.jpg" alt="">
						</div>
						<div class="content">
							<h6 class="tag">
								Rachel <b>20-09-2018</b>
							</h6>
							<h4>
								He is Good Artist as well as Good Developer....
							</h4>
							<span class="more">
								<a href="#0">Read More</a>
							</span>
						</div>
					</div>
				</div>
			

		</div><!-- /row -->
	</div><!-- /container -->
</section>

<app-addressinfo></app-addressinfo>