<app-common></app-common>
<!-- ====== Hero ======  -->
<section class="hero section-padding pb-70" data-scroll-index="1">
  <div class="container">
    <div class="row">

      <!-- hero image -->
      <div class="col-md-5">
        <div class="">
          <img src="assets/img/hero.jpg" alt="">
        </div>
      </div>

      <!-- content -->
      <div class="col-md-7">
        <div class="content mb-30">
          <h3>A Little About Me.</h3>
          <span class="sub-title">UI / UX Designer & Web Developer</span>
          <p>we are something other than an outsourcing organization. Truly, we convey Web Development and mobile app for organizations that need to outsource Web Development and mobile applications development, and yes we fully assist the customers with quickly to showcase by giving quality mobile app solutions on request. </p>

          <p>we keep our home all together with our own particular committed QA group, since we expect to convey the best, and just the best will do. our customers are our accomplices, and we're quick to manufacture large connections based on trust and greatness.</p>

          <p>We have experienced specialists who are always arranged to help in the designing and building, making and managing the publicizing task of your business site. </p>

          <p>Our capacity and experience goes transversely finished critical business issues and phenomenally significant into different undertakings so we pass on satisfaction results to our customers.</p>
     
 
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section>
<!-- ====== End Hero ======  -->
<app-addressinfo></app-addressinfo>