<app-common></app-common>
<!--====== Portfolio ======-->
<section class="portfolio section-padding pb-70" data-scroll-index="3">
  <div class="container">
    <div class="row">

      <!-- section heading -->
      <div class="section-head">
        <h3>Portfolio.</h3>
      </div>

      <!-- filter links -->
      <!-- <div class="filtering text-center mb-50">
        <span data-filter='*' class="active">All</span>
        <span data-filter='.brand'>Brand</span>
        <span data-filter='.web'>Design</span>
        <span data-filter='.graphic'>Graphic</span>
      </div> -->

      <!-- gallery -->
      <div class="gallery text-center">

        <!-- gallery item -->
        <div class="col-md-4 col-sm-6 items graphic">
          <div class="item-img">
            <img src="assets/img/portfolio/1.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info v-middle text-center">
                <h6 class="sm-titl">WEB DEVELOPER</h6>
                <div class="icons">
                  <span class="icon">
                    <a href="#0">
                      <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </a>
                  </span>

                  <span class="icon link">
                    <a href="assets/img/portfolio/1.jpg">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-md-4 col-sm-6 items web">
          <div class="item-img">
            <img src="assets/img/portfolio/2.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info v-middle text-center">
                <h6 class="sm-titl">WEB DESIGNER</h6>
                <div class="icons">
                  <span class="icon">
                    <a href="#0">
                      <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </a>
                  </span>

                  <span class="icon link">
                    <a href="assets/img/portfolio/2.jpg">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-md-4 col-sm-6 items graphic">
          <div class="item-img">
            <img src="assets/img/portfolio/3.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info v-middle text-center">
                <h6 class="sm-titl">ANDROID APPLICATION</h6>
                <div class="icons">
                  <span class="icon">
                    <a href="#0">
                      <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </a>
                  </span>

                  <span class="icon link">
                    <a href="assets/img/portfolio/3.jpg">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-md-4 col-sm-6 items brand">
          <div class="item-img">
            <img src="assets/img/portfolio/4.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info v-middle text-center">
                <h6 class="sm-titl">LARAVEL DEVELOPMENT</h6>
                <div class="icons">
                  <span class="icon">
                    <a href="#0">
                      <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </a>
                  </span>

                  <span class="icon link">
                    <a href="assets/img/portfolio/4.jpg">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-md-4 col-sm-6 items web graphic">
          <div class="item-img">
            <img src="assets/img/portfolio/5.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info v-middle text-center">
                <h6 class="sm-titl">ANGULAR APP DEVELOPMENT</h6>
                <div class="icons">
                  <span class="icon">
                    <a href="#0">
                      <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </a>
                  </span>

                  <span class="icon link">
                    <a href="assets/img/portfolio/5.jpg">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-md-4 col-sm-6 items brand">
          <div class="item-img">
            <img src="assets/img/portfolio/6.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info v-middle text-center">
                <h6 class="sm-titl">CMS APPLICATION</h6>
                <div class="icons">
                  <span class="icon">
                    <a href="#0">
                      <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </a>
                  </span>

                  <span class="icon link">
                    <a href="assets/img/portfolio/6.jpg">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 items brand">
          <div class="item-img">
            <img src="assets/img/portfolio/7.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info v-middle text-center">
                <h6 class="sm-titl">DIGITAL MARKETING</h6>
                <div class="icons">
                  <span class="icon">
                    <a href="#0">
                      <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </a>
                  </span>

                  <span class="icon link">
                    <a href="assets/img/portfolio/6.jpg">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 items brand">
          <div class="item-img">
            <img src="assets/img/portfolio/8.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info v-middle text-center">
                <h6 class="sm-titl">SEARCH ENGINE OPTIMIZATION</h6>
                <div class="icons">
                  <span class="icon">
                    <a href="#0">
                      <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </a>
                  </span>

                  <span class="icon link">
                    <a href="assets/img/portfolio/6.jpg">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 items brand">
          <div class="item-img">
            <img src="assets/img/portfolio/9.jpg" alt="image">
            <div class="item-img-overlay">
              <div class="overlay-info v-middle text-center">
                <h6 class="sm-titl">IOS APP DEVELOPMENT</h6>
                <div class="icons">
                  <span class="icon">
                    <a href="#0">
                      <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </a>
                  </span>

                  <span class="icon link">
                    <a href="assets/img/portfolio/6.jpg">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section>
<!--====== End Portfolio ======-->
<app-addressinfo></app-addressinfo>